<div class="row marketing">
      <div ng-repeat="item in $storage track by $index">
        <div class="pin">
         <span class="glyphicon glyphicon-remove" ng-click="deletePlaces($index)"></span>
          <img src="{{item.image}}" />
          <p>
            I took this photo on {{item.rating}} 
            <button type="button" class="btn btn-default btn-sm" ng-click="downloads(item.image)">
              <span class="glyphicon glyphicon-download"></span>
            </button>
          </p>
        </div>
      </div>
</div>
 